<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="./img/logo.png">
    <link rel="stylesheet" type="text/css" href ="./style.css">
    <title>Weird Weather App</title>
  </head>
  <body class = "h-screen" style="background-image: url('./img/bground.jpg'); background-size: cover;">
    <div class = "py-1 mt-6 mx-16 bg-sky-300/75 border-4 ring-1 rounded-lg border-sky-500/75 min-w-[50%]">
      <div>
        <h2 class = "my-2 text-center text-xl">
          Random Weather Collection
        </h2>
      </div>
      <div class = "border-t-2 border-sky-500 grid grid-cols-3 gap-4 place-content-evenly">
        {{{body}}}
      </div>
    </div>
    
  </body>
</html>
