<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./output.css" rel="stylesheet">
</head>
<body class = "h-screen">
    <div class = "py-1 mt-6 mx-16 bg-sky-300 border border-sky-500">
        <div>
            <h2 class = "text-center text-xl">
                Random Weather Collection
            </h2>
        </div>

        <div class = "border border-sky-500 grid grid-cols-3 gap-4 place-content-evenly">

            <div class = "border-4 rounded-lg" style = "margin: 1em auto;">
                <div class = "h-36 w-36"></div>
            </div>

            <div class = "border-4 rounded-lg" style = "margin:1em auto;">
                <div class = "h-36 w-36"></div>
            </div>

            <div class = "border-4 rounded-lg" style = "margin:1em auto;">
                <div class = "h-36 w-36"></div>
            </div>

            <div class = "border-4 rounded-lg" style = "margin: 1em auto;">
                <div class = "h-36 w-36"></div>
            </div>

            <div class = "border-4 rounded-lg" style = "margin:1em auto;">
                <div class = "h-36 w-36"></div>
            </div>

            <div class = "border-4 rounded-lg" style = "margin:1em auto;">
                <div class = "h-36 w-36"></div>
            </div>

            <div class = "border-4 rounded-lg" style = "margin: 1em auto;">
                <div class = "h-36 w-36"></div>
            </div>

            <div class = "border-4 rounded-lg" style = "margin:1em auto;">
                <div class = "h-36 w-36"></div>
            </div>

            <div class = "border-4 rounded-lg" style = "margin:1em auto;">
                <div class = "h-36 w-36"></div>
            </div>
            


            <!-- <div class = "flex justify-center">asd</div>
            <div class = "flex justify-center">asd</div>
            <div class = "flex justify-center">asd</div>

            <div class = "flex justify-center">asd</div>
            <div class = "flex justify-center">asd</div>
            <div class = "flex justify-center">asd</div> -->
        </div>
    </div>

</body>
</html>